@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #0c0f13, #1e1f1f);
  overflow-x: hidden;
}

.calculator-section {
  display: flex;
  justify-content: space-between;
}

.calculator-section h3 {
  color: white;
  width: 50%;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: minmax(120px, auto) repeat(5, 90px);
  padding: 0 1rem 2.5rem;
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 1.5rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.7);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1/-1;
  background-color: rgba(246, 242, 242, 0.2);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  color: rgba(255, 255, 255, 0.9);
  font-size: 2.5rem;
}

.calculator-grid .operation {
  background-color: orange;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1rem;
  color: white;
  padding: 1rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(240, 239, 239, 0.7) 0 0 0 1px;
}

.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  gap: 8px;
  color: white;
  padding: 3rem 2.5rem;
  margin: 0 1.5rem;
}

.home-section img {
  height: 35%;
  width: 35%;
}

.Links {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
  color: white;
}

.navbar .line {
  border-left: 2px solid white;
  height: 1rem;
}

.quotes-section {
  color: white;
  padding: 3rem 2.5rem;
  font-size: 1.2rem;
}
